#container {
    border: 1px solid black;
    width: 900px;
    height: 800px;

}

p {
    /* color: green; */
    /* color:rgba(0, 0, 0, 0) */

    /* color: hsla(68, 20%,50%, 0.857); */
    /* color: hsla(68, 20%, 50%, 0); */
    color: rgba(0, 0, 0, 0.247);

}


body {
    /* background: linear-gradient(red,yellow); */
    /* background: linear-gradient(red,yellow,green,blue,white,orange,pink,grey); */
    /* background: radial-gradient(red,yellow,green,blue,white,orange,pink,grey); */
    /* background: conic-gradient(red,yellow,green,blue,white,orange,pink,grey); */
    /* background: rgb(108,104,176); */
    background: linear-gradient(90deg, rgba(108, 104, 176, 1) 13%, rgba(9, 9, 121, 1) 45%, rgba(0, 255, 133, 0.7814775568430498) 83%);
    background-size: cover;
    background-repeat: no-repeat;

    /* background-attachment: fixed; */
    background-attachment: scroll;
}