span{
    background-color: yellow;
    border-radius: 50%;
}


h1{
    border: 1px solid black;
    /* padding: 20px; */
    padding-top:30px;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 40px;

    /* border: 1px solid black; */
    /* or  */
    /* border-width: 1px;
    border-style: solid;
    border-color: black; */

}

